<div class="current__city">Kherson, UA</div>
<div class="current__time">{{dt}}</div>
<div class="current__weather"><img src={{weather.icon}} alt={{weather.main}} /></div>
<div class="current__sunrise"><i class="wi wi-sunrise"></i><span>{{sunrise}}</span></div>
<div class="current__sunset"><i class="wi wi-sunset"></i><span>{{sunset}}</span></div>
<div class="current__temperature"><i class="wi wi-thermometer"></i><span>{{temp}}</span></div>
<div class="current__feelslike">Feels Like <span>{{feels_like}}</span></div>
<div class="current__pressure"><i class="wi wi-barometer"></i><span>{{pressure}}</span></div>
<div class="current__humidity"><i class="wi wi-humidity"></i><span>{{humidity}}</span></div>
<div class="current__dew-point"><i class="wi wi-raindrop"></i> <span>{{dew_point}}</span></div>
<div class="current__visibility"><i class="wi wi-horizon"></i><span>{{visibility}}</span></div>
<div class="current__windspeed"><i class="wi wi-gale-warning"></i><span>{{wind_speed}}</span></div>
<div class="current__wind-dir"><i class="wi wi-wind towards-{{wind_deg}}-deg"></i>{{wind_deg}}˚</div>