<div class="current__city">Kherson, UA</div>
<div class="current__time">{{dt}}</div>
<div class="current__weather"><img src={{weather.icon}} alt={{weather.main}} /></div>
<div class="current__sunrise">Sunrise at: <span>{{sunrise}}</span></div>
<div class="current__sunset">Sunset at: <span>{{sunset}}</span></div>
<div class="current__temperature">Current t˚: <span>{{temp}}</span></div>
<div class="current__feelslike">Feels Like t˚: <span>{{feels_like}}</span></div>
<div class="current__pressure">Pressure: <span>{{pressure}}</span></div>
<div class="current__humidity">Humidity: <span>{{humidity}}</span></div>
<div class="current__dew-point">Dew point: <span>{{dew_point}}</span></div>
<div class="current__visibility">Visibility: <span>{{visibility}}</span></div>
<div class="current__windspeed">
  Wind speed: <span>{{wind_speed}}</span>
  <div class="current__wind-dir">{{wind_deg}}</div>
</div>