{{#each this}}
<div class="daily-box" id=daily-{{@index}}>
  <div class="daily__date"></div>
  <div class="daily__weather"><img src={{weather.icon}} alt={{weather.main}} /></div>
  <div class="daily__sunrise">Sunrise at: <span>{{sunrise}}</span></div>
  <div class="daily__sunset">Sunset at: <span>{{sunset}}</span></div>
  <div class="daily__temperature">
    <div class="dayt">Day t˚: <span>{{temp}}</span></div>
  </div>
  <div class="daily__feelslike">
    <div class="fday">Feels Like day t˚: <span>{{feels_like}}</span></div>
  </div>
  <div class="daily__pressure">Pressure: <span>{{pressure}}</span></div>
  <div class="daily__humidity">Humidity: <span>{{humidity}}</span></div>
  <div class="daily__dew-point">Dew point: <span>{{dew_point}}</span></div>
  <div class="daily__windspeed">
    Wind speed: <span>{{wind_speed}}</span>
    <div class="daily__wind-dir"><span>{{wind_deg}}</span></div>
  </div>
</div>
{{/each}}