{{#each this}}
<div class="hourly-box">
  <div class="hourly__time"><span>{{dt}}</span></div>
  <div class="hourly__date"><span>{{dd}}</span></div>
  <div class="hourly__weather"><img src={{weather.icon}} alt={{weather.main}} /></div>
  <div class="hourly__temperature"><i class="wi wi-thermometer"></i><span>{{temp}}</span></div>
  <div class="hourly__feelslike">Feels Like<span>{{feels_like}}</span></div>
  <div class="hourly__pressure"><i class="wi wi-barometer"></i><span>{{pressure}}</span></div>
  <div class="hourly__humidity"><i class="wi wi-humidity"></i><span>{{humidity}}</span></div>
  <div class="hourly__dew-point"><i class="wi wi-raindrop"></i><span>{{dew_point}}</span></div>
  <div class="hourly__windspeed">
    <i class="wi wi-gale-warning"></i><span>{{wind_speed}}</span>
  </div>
  <div class="current__wind-dir"><i class="wi wi-wind towards-{{wind_deg}}-deg"></i><span>{{wind_deg}}˚</span></div>
</div>
{{/each}}